.alert-boxs{
    position: fixed;
    top:0;
    left: 0;
    background-color: white;
    border: 1px solid red;
    z-index: 5;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
}
strong{
    margin-right: 5px;
}