.nav{
    display: flex;
    justify-content: space-between;
    object-fit: contain;
    height: 70px;
    width: 100%;
    position: fixed;
    /* margin-bottom: auto; */
    top : 0;
    background-color: black;
    z-index: 1;
}
.logo{
    /* width: 100%; */
    position: fixed;
    left: 20px;
    max-width: 200px;
    height: 60px;
    object-fit: contain;
}
.user{
    width: 40px;
    height: 40px;
    
    border: 5px solid black;
   border-radius: 50%;
    /* transform: translateY(50%); */
    margin-top: 5px;
    position: fixed;
    right: 20px;
    background-color: black;
}
