
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
 
  overflow-x: hidden;
  color: white;
  margin: 0;
}

.movieRoot{
  margin-top: 70px;
}

html{
  scroll-behavior: smooth;
}